.App {
  text-align: center;
}

.fields {
  text-align: center;
  background-color: lightblue;
}

.username {
  margin-top: 10px;
}

.password {
  margin-top: 10px;
  margin-bottom: 20px;
}

.aa {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
}

.card-color {
  color: black;
  background-color:lightblue;
}

.navBar {
  text-align: center;
}

.video {
  position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /* z-index: 1; */
    transform: translate(-50%, -50%);
    opacity: .2;
}

.dash-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

ul {
  list-style-type: none
}

li {
  padding: 20px
}

img {
  float: left;
  width:  300px;
  height: 300px;
  object-fit: cover;
  padding: 0px,
}

h1 {
  font-size: 50px;
  color: blue;
}

.player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
